<%= form_with(model: @feeding, local: true) do |f| %>

  <%= f.hidden_field :dog_id, value: @dog.id %>

  <div class="form-group">
    <%= f.label :amount %>

    <%= f.text_field :amount, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :food_name %>

    <%= f.text_field :food_name, class: "form-control" %>
  </div>

  <%= f.submit "Create feeding", class: "btn btn-block btn-outline-secondary" %>
<% end %>
