<%= form_with(model: @potty, local: true) do |f| %>

  <%= f.hidden_field :dog_id, value: @dog.id %>

  <div class="form-group">
    <%= f.label :pee_or_poo %>

    <%= f.text_field :pee_or_poo, class: "form-control" %>
  </div>

  <%= f.submit "Create potty", class: "btn btn-block btn-outline-secondary" %>
<% end %>
