<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @dog, partial: "card", as: :dog %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "dogs/dog_ownerships" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "dogs/dog_potties" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "dogs/dog_feedings" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "dogs/dog_owners" %>
  </div>
</div>
