<!-- Form ownership start -->
<%= form_with(model: @ownership, local: true) do |f| %>
<!-- Form ownership end -->

  <!-- Label and input for user_id start -->
  <!-- Input for user_id start -->
  <%= f.hidden_field :user_id, value: @user.id %>
  <!-- Input for user_id end -->
  <!-- Label and input for user_id end -->

  <!-- Label and input for dog_id start -->
  <div class="form-group">
    <%= f.label :dog_id %>

    <!-- Input for dog_id start -->
    <%= f.collection_select :dog_id, Dog.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for dog_id end -->
  </div>
  <!-- Label and input for dog_id end -->

  <%= f.submit "Create ownership", class: "btn btn-block btn-outline-secondary" %>
<% end %>
