<% was_validated = ownership.errors.any? %>

<%= form_with(model: ownership, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for user_id start -->
  <div class="form-group">
    <% user_class = "form-control" %>
    <% user_was_invalid = ownership.errors.include?(:user) %>

    <% if was_validated %>
      <% if user_was_invalid %>
        <% user_class << " is-invalid" %>
      <% else %>
        <% user_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :user_id %>
    <!-- Input for user_id start -->
    <%= f.number_field :user_id, class: user_class, placeholder: "Enter user" %>
    <!-- Input for user_id end -->
    <% if user_was_invalid %>
      <% ownership.errors.full_messages_for(:user).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for user_id end -->
  <!-- Label and input for dog_id start -->
  <div class="form-group">
    <% dog_class = "form-control" %>
    <% dog_was_invalid = ownership.errors.include?(:dog) %>

    <% if was_validated %>
      <% if dog_was_invalid %>
        <% dog_class << " is-invalid" %>
      <% else %>
        <% dog_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :dog_id %>
    <!-- Input for dog_id start -->
    <%= f.number_field :dog_id, class: dog_class, placeholder: "Enter dog" %>
    <!-- Input for dog_id end -->
    <% if dog_was_invalid %>
      <% ownership.errors.full_messages_for(:dog).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for dog_id end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
